name: Test

on:
  - push
  - pull_request

jobs:
  phpunit:
    name: PHP Unit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: composer validate --strict

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - run: composer install --prefer-dist --no-progress

      - run: composer test
